@media not all and (min-width: 1024px) {
    .nv-response{
        display: fixed;
        flex-direction: column;
        position: fixed;
        top: 0px;
        background-color: #1B262C;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
        width: 50%;
        transition: 0.4s ease-in-out;
        z-index: 100;
    }
    .nv-response li{
        margin: 10px 0px;
        padding: 0px 20px;
    }
}